web/schemas/Lexicon/User.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="urn:ru:battleship:Lexicon:User"
	xmlns:ns0="urn:ru:battleship:Lexicon:Link"
	targetNamespace="urn:ru:battleship:Lexicon:User">

<xsd:import schemaLocation="Link.xsd" namespace="urn:ru:battleship:Lexicon:Link" /> 

<xsd:element name="User">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" minOccurs="1" />
			<xsd:element name="firstName" type="xsd:string" minOccurs="0" />
			<xsd:element name="email" type="xsd:string" minOccurs="0" />
			<xsd:element name="gender" type="xsd:string" minOccurs="0" />
			<xsd:element name="lastName" type="xsd:string" minOccurs="0" />
			<xsd:element name="link" type="xsd:string" minOccurs="0" />
			<xsd:element name="locale" type="xsd:string" minOccurs="0" />
			<xsd:element name="name" type="xsd:string" minOccurs="0" />
			<xsd:element name="timezone" type="xsd:string" minOccurs="0" />
			<xsd:element name="updatedTime" type="xsd:string" minOccurs="0" />
			<xsd:element name="verified" type="xsd:string" minOccurs="0" />
			<!--xsd:element ref="ns0:Link" minOccurs="0" maxOccurs="unbounded" /-->
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

</xsd:schema>